.container .wide-1,
.container .wide-2,
.container .wide-3,
.container .wide-4,
.container .wide-5,
.container .wide-6,
.container .wide-7,
.container .wide-8,
.container .wide-9,
.container .wide-10,
.container .wide-11,
.container .wide-12 {
  float: left;
  margin-bottom:10px;
}

.container .wide-1 {
  width: 8.33%;
}

.container .wide-2 {
  width: 16.66%;
}

.container .wide-3 {
  width: 25%;
}

.container .wide-4 {
  width: 33.33%;
}

.container .wide-5 {
  width: 41.66%;
}

.container .wide-6 {
  width: 50%;
}

.container .wide-7 {
  width: 58.33%;
}

.container .wide-8 {
  width: 66.66%;
}

.container .wide-9 {
  width: 75%;
}

.container .wide-10 {
  width: 83.33%;
}

.container .wide-11 {
  width: 91.66%;
}

.container .wide-12 {
  width: 100%;
}

.container .col-1 > div,
.container .col-2 > div,
.container .col-3 > div,
.container .col-4 > div,
.container .col-5 > div,
.container .col-6 > div,
.container .col-7 > div,
.container .col-8 > div,
.container .col-9 > div,
.container .col-10 > div,
.container .col-11 > div,
.container .col-12 > div {
  float: left;
  margin-left:5px;
  margin-right:5px
}

.container .col-1 .col-1 > div:first-child,
.container .col-2 .col-1 > div:first-child,
.container .col-3 .col-1 > div:first-child,
.container .col-4 .col-1 > div:first-child,
.container .col-5 .col-1 > div:first-child,
.container .col-6 .col-1 > div:first-child,
.container .col-7 .col-1 > div:first-child,
.container .col-8 .col-1 > div:first-child,
.container .col-9 .col-1 > div:first-child,
.container .col-10 .col-1 > div:first-child,
.container .col-11 .col-1 > div:first-child,
.container .col-12 .col-1 > div:first-child {
  width: 100%;
  margin-left:0;
}

.container .col-1 .col-2 > div:first-child,
.container .col-2 .col-2 > div:first-child,
.container .col-3 .col-2 > div:first-child,
.container .col-4 .col-2 > div:first-child,
.container .col-5 .col-2 > div:first-child,
.container .col-6 .col-2 > div:first-child,
.container .col-7 .col-2 > div:first-child,
.container .col-8 .col-2 > div:first-child,
.container .col-9 .col-2 > div:first-child,
.container .col-10 .col-2 > div:first-child,
.container .col-11 .col-2 > div:first-child,
.container .col-12 .col-2 > div:first-child {
  width: -moz-calc(50% - 5px);
  width: -webkit-calc(50% - 5px);
  width: calc(50% - 5px);
  margin-left:0;
}

.container .col-1 .col-3 > div:first-child,
.container .col-2 .col-3 > div:first-child,
.container .col-3 .col-3 > div:first-child,
.container .col-4 .col-3 > div:first-child,
.container .col-5 .col-3 > div:first-child,
.container .col-6 .col-3 > div:first-child,
.container .col-7 .col-3 > div:first-child,
.container .col-8 .col-3 > div:first-child,
.container .col-9 .col-3 > div:first-child,
.container .col-10 .col-3 > div:first-child,
.container .col-11 .col-3 > div:first-child,
.container .col-12 .col-3 > div:first-child {
  width: -moz-calc(33.33% - 5px);
  width: -webkit-calc(33.33% - 5px);
  width: calc(33.33% - 5px);
  margin-left:0;
}

.container .col-1 .col-4 > div:first-child,
.container .col-2 .col-4 > div:first-child,
.container .col-3 .col-4 > div:first-child,
.container .col-4 .col-4 > div:first-child,
.container .col-5 .col-4 > div:first-child,
.container .col-6 .col-4 > div:first-child,
.container .col-7 .col-4 > div:first-child,
.container .col-8 .col-4 > div:first-child,
.container .col-9 .col-4 > div:first-child,
.container .col-10 .col-4 > div:first-child,
.container .col-11 .col-4 > div:first-child,
.container .col-12 .col-4 > div:first-child {
  width: -moz-calc(25% - 5px);
  width: -webkit-calc(25% - 5px);
  width: calc(25% - 5px);
  margin-left:0;
}

.container .col-1 .col-5 > div:first-child,
.container .col-2 .col-5 > div:first-child,
.container .col-3 .col-5 > div:first-child,
.container .col-4 .col-5 > div:first-child,
.container .col-5 .col-5 > div:first-child,
.container .col-6 .col-5 > div:first-child,
.container .col-7 .col-5 > div:first-child,
.container .col-8 .col-5 > div:first-child,
.container .col-9 .col-5 > div:first-child,
.container .col-10 .col-5 > div:first-child,
.container .col-11 .col-5 > div:first-child,
.container .col-12 .col-5 > div:first-child {
  width: -moz-calc(20% - 5px);
  width: -webkit-calc(20% - 5px);
  width: calc(20% - 5px);
  margin-left:0;
}

.container .col-1 .col-6 > div:first-child,
.container .col-2 .col-6 > div:first-child,
.container .col-3 .col-6 > div:first-child,
.container .col-4 .col-6 > div:first-child,
.container .col-5 .col-6 > div:first-child,
.container .col-6 .col-6 > div:first-child,
.container .col-7 .col-6 > div:first-child,
.container .col-8 .col-6 > div:first-child,
.container .col-9 .col-6 > div:first-child,
.container .col-10 .col-6 > div:first-child,
.container .col-11 .col-6 > div:first-child,
.container .col-12 .col-6 > div:first-child {
  width: -moz-calc(16.66% - 5px);
  width: -webkit-calc(16.66% - 5px);
  width: calc(16.66% - 5px);
  margin-left:0;
}

.container .col-1 .col-7 > div:first-child,
.container .col-2 .col-7 > div:first-child,
.container .col-3 .col-7 > div:first-child,
.container .col-4 .col-7 > div:first-child,
.container .col-5 .col-7 > div:first-child,
.container .col-6 .col-7 > div:first-child,
.container .col-7 .col-7 > div:first-child,
.container .col-8 .col-7 > div:first-child,
.container .col-9 .col-7 > div:first-child,
.container .col-10 .col-7 > div:first-child,
.container .col-11 .col-7 > div:first-child,
.container .col-12 .col-7 > div:first-child {
  width: -moz-calc(14.285% - 5px);
  width: -webkit-calc(14.285% - 5px);
  width: calc(14.285% - 5px);
  margin-left:0;
}

.container .col-1 .col-8 > div:first-child,
.container .col-2 .col-8 > div:first-child,
.container .col-3 .col-8 > div:first-child,
.container .col-4 .col-8 > div:first-child,
.container .col-5 .col-8 > div:first-child,
.container .col-6 .col-8 > div:first-child,
.container .col-7 .col-8 > div:first-child,
.container .col-8 .col-8 > div:first-child,
.container .col-9 .col-8 > div:first-child,
.container .col-10 .col-8 > div:first-child,
.container .col-11 .col-8 > div:first-child,
.container .col-12 .col-8 > div:first-child {
  width: -moz-calc(12.5% - 5px);
  width: -webkit-calc(12.5% - 5px);
  width: calc(12.5% - 5px);
  margin-left:0;
}

.container .col-1 .col-9 > div:first-child,
.container .col-2 .col-9 > div:first-child,
.container .col-3 .col-9 > div:first-child,
.container .col-4 .col-9 > div:first-child,
.container .col-5 .col-9 > div:first-child,
.container .col-6 .col-9 > div:first-child,
.container .col-7 .col-9 > div:first-child,
.container .col-8 .col-9 > div:first-child,
.container .col-9 .col-9 > div:first-child,
.container .col-10 .col-9 > div:first-child,
.container .col-11 .col-9 > div:first-child,
.container .col-12 .col-9 > div:first-child {
  width: -moz-calc(11.11% - 5px);
  width: -webkit-calc(11.11% - 5px);
  width: calc(11.11% - 5px);
  margin-left:0;
}

.container .col-1 .col-10 > div:first-child,
.container .col-2 .col-10 > div:first-child,
.container .col-3 .col-10 > div:first-child,
.container .col-4 .col-10 > div:first-child,
.container .col-5 .col-10 > div:first-child,
.container .col-6 .col-10 > div:first-child,
.container .col-7 .col-10 > div:first-child,
.container .col-8 .col-10 > div:first-child,
.container .col-9 .col-10 > div:first-child,
.container .col-10 .col-10 > div:first-child,
.container .col-11 .col-10 > div:first-child,
.container .col-12 .col-10 > div:first-child {
  width: -moz-calc(10% - 5px);
  width: -webkit-calc(10% - 5px);
  width: calc(10% - 5px);
  margin-left:0;
}

.container .col-1 .col-11 > div:first-child,
.container .col-2 .col-11 > div:first-child,
.container .col-3 .col-11 > div:first-child,
.container .col-4 .col-11 > div:first-child,
.container .col-5 .col-11 > div:first-child,
.container .col-6 .col-11 > div:first-child,
.container .col-7 .col-11 > div:first-child,
.container .col-8 .col-11 > div:first-child,
.container .col-9 .col-11 > div:first-child,
.container .col-10 .col-11 > div:first-child,
.container .col-11 .col-11 > div:first-child,
.container .col-12 .col-11 > div:first-child {
  width: -moz-calc(9.09% - 5px);
  width: -webkit-calc(9.09% - 5px);
  width: calc(9.09% - 5px);
  margin-left:0;
}

.container .col-1 .col-12 > div:first-child,
.container .col-2 .col-12 > div:first-child,
.container .col-3 .col-12 > div:first-child,
.container .col-4 .col-12 > div:first-child,
.container .col-5 .col-12 > div:first-child,
.container .col-6 .col-12 > div:first-child,
.container .col-7 .col-12 > div:first-child,
.container .col-8 .col-12 > div:first-child,
.container .col-9 .col-12 > div:first-child,
.container .col-10 .col-12 > div:first-child,
.container .col-11 .col-12 > div:first-child,
.container .col-12 .col-12 > div:first-child {
  width: -moz-calc(8.33% - 5px);
  width: -webkit-calc(8.33% - 5px);
  width: calc(8.33% - 5px);
  margin-left:0;
}

.container .col-1 .col-1 > div:last-child,
.container .col-2 .col-1 > div:last-child,
.container .col-3 .col-1 > div:last-child,
.container .col-4 .col-1 > div:last-child,
.container .col-5 .col-1 > div:last-child,
.container .col-6 .col-1 > div:last-child,
.container .col-7 .col-1 > div:last-child,
.container .col-8 .col-1 > div:last-child,
.container .col-9 .col-1 > div:last-child,
.container .col-10 .col-1 > div:last-child,
.container .col-11 .col-1 > div:last-child,
.container .col-12 .col-1 > div:last-child {
  width: 100%;
  margin-right:0;
}

.container .col-1 .col-2 > div:last-child,
.container .col-2 .col-2 > div:last-child,
.container .col-3 .col-2 > div:last-child,
.container .col-4 .col-2 > div:last-child,
.container .col-5 .col-2 > div:last-child,
.container .col-6 .col-2 > div:last-child,
.container .col-7 .col-2 > div:last-child,
.container .col-8 .col-2 > div:last-child,
.container .col-9 .col-2 > div:last-child,
.container .col-10 .col-2 > div:last-child,
.container .col-11 .col-2 > div:last-child,
.container .col-12 .col-2 > div:last-child {
  width: -moz-calc(50% - 5px);
  margin-right:0;
}

.container .col-1 .col-3 > div:last-child,
.container .col-2 .col-3 > div:last-child,
.container .col-3 .col-3 > div:last-child,
.container .col-4 .col-3 > div:last-child,
.container .col-5 .col-3 > div:last-child,
.container .col-6 .col-3 > div:last-child,
.container .col-7 .col-3 > div:last-child,
.container .col-8 .col-3 > div:last-child,
.container .col-9 .col-3 > div:last-child,
.container .col-10 .col-3 > div:last-child,
.container .col-11 .col-3 > div:last-child,
.container .col-12 .col-3 > div:last-child {
  width: -moz-calc(33.33% - 5px);
  width: -webkit-calc(33.33% - 5px);
  width: calc(33.33% - 5px);
  margin-right:0;
}

.container .col-1 .col-4 > div:last-child,
.container .col-2 .col-4 > div:last-child,
.container .col-3 .col-4 > div:last-child,
.container .col-4 .col-4 > div:last-child,
.container .col-5 .col-4 > div:last-child,
.container .col-6 .col-4 > div:last-child,
.container .col-7 .col-4 > div:last-child,
.container .col-8 .col-4 > div:last-child,
.container .col-9 .col-4 > div:last-child,
.container .col-10 .col-4 > div:last-child,
.container .col-11 .col-4 > div:last-child,
.container .col-12 .col-4 > div:last-child {
  width: -moz-calc(25% - 5px);
  width: -webkit-calc(25% - 5px);
  width: calc(25% - 5px);
  margin-right:0;
}

.container .col-1 .col-5 > div:last-child,
.container .col-2 .col-5 > div:last-child,
.container .col-3 .col-5 > div:last-child,
.container .col-4 .col-5 > div:last-child,
.container .col-5 .col-5 > div:last-child,
.container .col-6 .col-5 > div:last-child,
.container .col-7 .col-5 > div:last-child,
.container .col-8 .col-5 > div:last-child,
.container .col-9 .col-5 > div:last-child,
.container .col-10 .col-5 > div:last-child,
.container .col-11 .col-5 > div:last-child,
.container .col-12 .col-5 > div:last-child {
  width: -moz-calc(20% - 5px);
  width: -webkit-calc(20% - 5px);
  width: calc(20% - 5px);
  margin-right:0;
}

.container .col-1 .col-6 > div:last-child,
.container .col-2 .col-6 > div:last-child,
.container .col-3 .col-6 > div:last-child,
.container .col-4 .col-6 > div:last-child,
.container .col-5 .col-6 > div:last-child,
.container .col-6 .col-6 > div:last-child,
.container .col-7 .col-6 > div:last-child,
.container .col-8 .col-6 > div:last-child,
.container .col-9 .col-6 > div:last-child,
.container .col-10 .col-6 > div:last-child,
.container .col-11 .col-6 > div:last-child,
.container .col-12 .col-6 > div:last-child {
  width: -moz-calc(16.66% - 5px);
  width: -webkit-calc(16.66% - 5px);
  width: calc(16.66% - 5px);
  margin-right:0;
}

.container .col-1 .col-7 > div:last-child,
.container .col-2 .col-7 > div:last-child,
.container .col-3 .col-7 > div:last-child,
.container .col-4 .col-7 > div:last-child,
.container .col-5 .col-7 > div:last-child,
.container .col-6 .col-7 > div:last-child,
.container .col-7 .col-7 > div:last-child,
.container .col-8 .col-7 > div:last-child,
.container .col-9 .col-7 > div:last-child,
.container .col-10 .col-7 > div:last-child,
.container .col-11 .col-7 > div:last-child,
.container .col-12 .col-7 > div:last-child {
  width: -moz-calc(14.285% - 5px);
  width: -webkit-calc(14.285% - 5px);
  width: calc(14.285% - 5px);
  margin-right:0;
}

.container .col-1 .col-8 > div:last-child,
.container .col-2 .col-8 > div:last-child,
.container .col-3 .col-8 > div:last-child,
.container .col-4 .col-8 > div:last-child,
.container .col-5 .col-8 > div:last-child,
.container .col-6 .col-8 > div:last-child,
.container .col-7 .col-8 > div:last-child,
.container .col-8 .col-8 > div:last-child,
.container .col-9 .col-8 > div:last-child,
.container .col-10 .col-8 > div:last-child,
.container .col-11 .col-8 > div:last-child,
.container .col-12 .col-8 > div:last-child {
  width: -moz-calc(12.5% - 5px);
  width: -webkit-calc(12.5% - 5px);
  width: calc(12.5% - 5px);
  margin-right:0;
}

.container .col-1 .col-9 > div:last-child,
.container .col-2 .col-9 > div:last-child,
.container .col-3 .col-9 > div:last-child,
.container .col-4 .col-9 > div:last-child,
.container .col-5 .col-9 > div:last-child,
.container .col-6 .col-9 > div:last-child,
.container .col-7 .col-9 > div:last-child,
.container .col-8 .col-9 > div:last-child,
.container .col-9 .col-9 > div:last-child,
.container .col-10 .col-9 > div:last-child,
.container .col-11 .col-9 > div:last-child,
.container .col-12 .col-9 > div:last-child {
  width: -moz-calc(11.11% - 5px);
  width: -webkit-calc(11.11% - 5px);
  width: calc(11.11% - 5px);
  margin-right:0;
}

.container .col-1 .col-10 > div:last-child,
.container .col-2 .col-10 > div:last-child,
.container .col-3 .col-10 > div:last-child,
.container .col-4 .col-10 > div:last-child,
.container .col-5 .col-10 > div:last-child,
.container .col-6 .col-10 > div:last-child,
.container .col-7 .col-10 > div:last-child,
.container .col-8 .col-10 > div:last-child,
.container .col-9 .col-10 > div:last-child,
.container .col-10 .col-10 > div:last-child,
.container .col-11 .col-10 > div:last-child,
.container .col-12 .col-10 > div:last-child {
  width: -moz-calc(10% - 5px);
  width: -webkit-calc(10% - 5px);
  width: calc(10% - 5px);
  margin-right:0;
}

.container .col-1 .col-11 > div:last-child,
.container .col-2 .col-11 > div:last-child,
.container .col-3 .col-11 > div:last-child,
.container .col-4 .col-11 > div:last-child,
.container .col-5 .col-11 > div:last-child,
.container .col-6 .col-11 > div:last-child,
.container .col-7 .col-11 > div:last-child,
.container .col-8 .col-11 > div:last-child,
.container .col-9 .col-11 > div:last-child,
.container .col-10 .col-11 > div:last-child,
.container .col-11 .col-11 > div:last-child,
.container .col-12 .col-11 > div:last-child {
  width: -moz-calc(9.09% - 5px);
  width: -webkit-calc(9.09% - 5px);
  width: calc(9.09% - 5px);
  margin-right:0;
}

.container .col-1 .col-12 > div:last-child,
.container .col-2 .col-12 > div:last-child,
.container .col-3 .col-12 > div:last-child,
.container .col-4 .col-12 > div:last-child,
.container .col-5 .col-12 > div:last-child,
.container .col-6 .col-12 > div:last-child,
.container .col-7 .col-12 > div:last-child,
.container .col-8 .col-12 > div:last-child,
.container .col-9 .col-12 > div:last-child,
.container .col-10 .col-12 > div:last-child,
.container .col-11 .col-12 > div:last-child,
.container .col-12 .col-12 > div:last-child {
  width: -moz-calc(8.33% - 5px);
  width: -webkit-calc(8.33% - 5px);
  width: calc(8.33% - 5px);
  margin-right:0;
}

.container .col-1 > div {
  width: -moz-calc(100% - 10px);
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
}

.container .col-2 > div {
  width: -moz-calc(50% - 10px);
  width: -webkit-calc(50% - 10px);
  width: calc(50% - 10px);
}

.container .col-3 > div {
  width: -moz-calc(33.33% - 10px);
  width: -webkit-calc(33.33% - 10px);
  width: calc(33.33% - 10px);
}

.container .col-4 > div {
  width: -moz-calc(25% - 10px);
  width: -webkit-calc(25% - 10px);
  width: calc(25% - 10px);
}

.container .col-5 > div {
  width: -moz-calc(20% - 10px);
  width: -webkit-calc(20% - 10px);
  width: calc(20% - 10px);
}

.container .col-6 > div {
  width: -moz-calc(16.66% - 10px);
  width: -webkit-calc(16.66% - 10px);
  width: calc(16.66% - 10px);
}

.container .col-7 > div {
  width: -moz-calc(14.285% - 10px);
  width: -webkit-calc(14.285% - 10px);
  width: calc(14.285% - 10px);
}

.container .col-8 > div {
  width: -moz-calc(12.5% - 10px);
  width: -webkit-calc(12.5% - 10px);
  width: calc(12.5% - 10px);
}

.container .col-9 > div {
  width: -moz-calc(11.11% - 10px);
  width: -webkit-calc(11.11% - 10px);
  width: calc(11.11% - 10px);
}

.container .col-10 > div {
  width: -moz-calc(10% - 10px);
  width: -webkit-calc(10% - 10px);
  width: calc(10% - 10px);
}

.container .col-11 > div {
  width: -moz-calc(9.09% - 10px);
  width: -webkit-calc(9.09% - 10px);
  width: calc(9.09% - 10px);
}

.container .col-12 > div {
  width: -moz-calc(8.33% - 10px);
  width: -webkit-calc(8.33% - 10px);
  width: calc(8.33% - 10px);
}

.container .push-1,
.container .push-2,
.container .push-3,
.container .push-4,
.container .push-5,
.container .push-6,
.container .push-7,
.container .push-8,
.container .push-9,
.container .push-10,
.container .push-11,
.container .push-12,
.container .pull-1,
.container .pull-2,
.container .pull-3,
.container .pull-4,
.container .pull-5,
.container .pull-6,
.container .pull-7,
.container .pull-8,
.container .pull-9,
.container .pull-10,
.container .pull-11,
.container .pull-12 {
  position:relative;
}

.container .push-1 {
  left: 8.33%;
}

.container .push-2 {
  left: 16.66%;
}

.container .push-3 {
  left: 25%;
}

.container .push-4 {
  left: 33.33%;
}

.container .push-5 {
  left: 41.66%;
}

.container .push-6 {
  left: 50%;
}

.container .push-7 {
  left: 58.33%;
}

.container .push-8 {
  left: 66.66%;
}

.container .push-9 {
  left: 75%;
}

.container .push-10 {
  left: 83.33%;
}

.container .push-11 {
  left: 91.66%;
}

.container .push-12 {
  left: 100%;
}

.container .pull-1 {
  right: 8.33%;
}

.container .pull-2 {
  right: 16.66%;
}

.container .pull-3 {
  right: 25%;
}

.container .pull-4 {
  right: 33.33%;
}

.container .pull-5 {
  right: 41.66%;
}

.container .pull-6 {
  right: 50%;
}

.container .pull-7 {
  right: 58.33%;
}

.container .pull-8 {
  right: 66.66%;
}

.container .pull-9 {
  right: 75%;
}

.container .pull-10 {
  right: 83.33%;
}

.container .pull-11 {
  right: 91.66%;
}

.container .pull-12 {
  right: 100%;
}

